name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      dotnet-logging:
        required: true
        type: choice
        default: minimal
        options:
          - quiet
          - minimal
          - normal
          - detailed
          - diagnostic

jobs:
  all:
    name: Build & Tests
    uses: dailydevops/pipelines/.github/workflows/build-dotnet-matrix.yml@5180fae4928a5878c346926750c43374bf841c43 # 2.0.21
    with:
      disableTestsOnLinux: false
      disableTestsOnWindows: false
      disableTestsOnMacOS: false
      failFast: false
      dotnetLogging: ${{ inputs.dotnet-logging }}
      dotnetVersion: ${{ vars.NE_DOTNET_TARGETFRAMEWORKS }}
      runsOnBuild: windows-latest
      solution: ./Arguments.slnx
    secrets: inherit
